<div class="home-container">
  <app-card
    gameLabel="Deluxe"
    gameImage="../assets/GTA.png"
    gamePricing="R$ 149,90"
  ></app-card>

  <app-card
    gameLabel="Exclusive"
    gameImage="../assets/mortal-kombat.jpeg"
    gamePricing="R$ 209,90"
  ></app-card>

  <app-card
    gameLabel="New Edition"
    gameImage="../assets/resident-evil.jpg"
    gamePricing="R$ 279,90"
  ></app-card>

  <app-card
    gameLabel="Pré-venda"
    gameImage="../assets/assassins-credd.jpeg"
    gamePricing="R$ 189,90"
  ></app-card>

  <app-card
    gameLabel="Exclusive"
    gameImage="../assets/spiderman_.png"
    gamePricing="R$ 199,90"
  ></app-card>

  <app-card
    gameLabel="Digital Edition"
    gameImage="../assets/ufc.png"
    gamePricing="R$ 139,90"
  ></app-card>
</div>

