<div class="menu-bar-container">
  <div class="menu-bar-logo">
    <img
      src="../assets/ps-logo.png"
      alt=""
      width="200px"
      height="50px">
  </div>
  <div class="menu-bar-links">
    <ul>
      <li><a href="https://www.youtube.com/watch?v=c7Yhl7_yvAY&t=1s">Youtube </a></li>
      <li><a href="https://www.linkedin.com/in/rafaela-garrido/">LinkedIn</a></li>
      <li><a href="https://github.com/rafisgarrido">GitHub</a></li>
    </ul>
  </div>
  <div class="menu-bar-secondlogo">
    <img
      src="../assets/sony-logo.png"
      alt=""
      width="150px"
      height="130px">
  </div>
</div>
